<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!--  Servlets  -->
<!-- EDITOR -->
<servlet>
	<servlet-name>administrationServlet</servlet-name>
	<servlet-class>de.hdm.it04.server.AdministrationCommonImpl</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>administrationServlet</servlet-name>
	<url-pattern>/it04gwt/administration</url-pattern>
</servlet-mapping>

<!-- REPORT GENERATOR -->
<servlet>
	<servlet-name>reportServlet</servlet-name>
	<servlet-class>de.hdm.it04.server.report.AdministrationCommonReportImpl</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>reportServlet</servlet-name>
	<url-pattern>/de.hdm.it04/it04gwt</url-pattern>
</servlet-mapping>

<!--  Default page to serve  -->
<welcome-file-list>
<welcome-file>It04gwt.html</welcome-file>
<welcome-file>It04gwt_report.html</welcome-file>
</welcome-file-list>
</web-app>